# This file is part of Mocklis
# Copyright © 2019-2020 Esbjörn Redmo and contributors. All rights reserved.

# Git
*.orig
*.rej

# User files
*.user

# Visual Studio
.vs/
bin/
obj/
publish/
launchSettings.json

# Resharper
_ReSharper*/

# NCrunch
_NCrunch*/
nCrunchTemp_*
